@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  direction: rtl;
}



.top-navigation {
  @apply flex flex-row items-start justify-start 
  bg-white bg-opacity-90 
  w-full p-5 
  m-0 z-10
  shadow-lg;
}

.top-navigation button{
  @apply w-9 p-2 m-4 hover:underline underline-offset-8 decoration-2	
  transition duration-500 ease-in-out
  focus:underline decoration-red-200 underline-offset-8
}

.ant-tabs-tab-btn{
  @apply m-3
}

.ant-table-pagination{
  @apply flex justify-center
}
.ant-btn {
  @apply bg-blue-800
}

.ant-tabs-content-holder{
  @apply h-screen  bg-slate-200
  
}
.ant-tabs-nav{
  @apply !m-0
}

.ant-form{
  @apply flex flex-col justify-center items-center w-full
}

.ant-form-item {
  @apply w-full flex flex-col justify-center
}

.ant-picker{
  @apply w-full
}

.entryForm{
  @apply flex justify-center overflow-hidden bg-slate-200
}

.deleteButton{
  @apply  bg-red-700 rounded-md mx-5 px-5 py-2 text-white font-medium	hover:bg-red-600
}

.ant-pagination{
  @apply !flex !justify-center
}

.formContainer{
  @apply flex justify-center items-center
  bg-slate-100
  p-10 pl-40 mt-10
  h-96 w-3/6
  shadow-md rounded-md
}